/* Snell, Dallin
** 13 FEB 2019
** tutorial styling
*/


/* page links */
ul.page_links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li.page_links {
  float: left;
  margin: 5px;
}
ul.page_links li+li:before {
  padding: 8px;
  content: "|\00a0\00a0";
}

/* style for the html body of the Excel tutorial page */
.excel-body {
    background-color: #c6d8d3;
    color: #515751;
}

/* style for the html footer of the Excel tutorial page */
.excel-footer {
    padding: 10px;
}

/* style for the updated date of the Excel tutorial page */
.excel-footer div {
    text-align: right;
}

