/* Snell, Dallin
** 01 JUN 2019
*/


textarea {
  resize: none;
  border: 2px solid;
  border-radius: 5px;
  margin: 50px
}

/* encrypt button: raise it up on page
   courtesy: http://jsfiddle.net/5CZRP/
*/
#e-button, #d-button {
  position: relative;
  top: -100px;
}

