/* Snell, Dallin
** CREATED 051127 AUG 2022 UPDATED 05 AUG 2022
** Stylesheet for digital business card page.
*/


/* prevent styling of links */
a:link, a:visited {
    text-decoration: none;
}

/* style name */
.fullname {
    margin: auto; 
    width: 50%;
    
    text-align: center; 
    font-family: 'Playfair Display', serif;
}

/* style contact div */
.contactme {
    margin: auto;
    width: 75%;
    text-align: center;
}

/* standardize contact images */
.contactme img {
    padding: 10px;
    width: 35px;
    height: auto;
}

/* style "add to contacts" div */
.addme {
    margin: auto;
    width: 75%;
    text-align: center;
}

/* standardize images */
.addme img {
    padding: 10px;
    width: 35px;
    height: auto;
}

